---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="pub-intro">
  {% if site.author.googlescholar %}
    For a full list of publications, see <a href="{{ site.author.googlescholar }}">my Google Scholar page</a>.
  {% endif %}
</div>

<!-- Group publications by year (newer first) -->
{% assign pubs = site.publications | sort: "year" | reverse %}
{% assign years = pubs | map: "year" | uniq %}

{% for year in years %}
  <h2 class="pub-year">{{ year }}</h2>
  <ol class="pub-list">
    {% assign this_year_pubs = pubs | where: "year", year %}
    {% for post in this_year_pubs %}
      <li class="pub-item">
        {% include archive-single.html post=post %}
      </li>
    {% endfor %}
  </ol>
{% endfor %}
