@misc{cui2025revisitingbrokenwindowstheory,
      title={Revisiting Broken Windows Theory}, 
      author={Ziyao Cui and Erick Jiang and Nicholas Sortisio and Haiyan Wang and Eric Chen and Cynthia Rudin},
      year={2025},
      eprint={2509.16490},
      archivePrefix={arXiv},
      primaryClass={cs.LG},
      url={https://arxiv.org/abs/2509.16490}, 
}